name: Publish Artifact Updates to Elasticsearch

on:
  pull_request:
    types: [closed]
    paths:
      - '**/latest/**'
      - '**/v*/**'

jobs:
  publish-to-elasticsearch:
    if: github.event.pull_request.merged == true
    uses: ./.github/workflows/publish-elasticsearch-reusable.yml
    secrets: inherit
