name: Publish New Artifact to Elasticsearch

on:
  pull_request:
    types:
      - closed
    branches:
      - main
    paths:
      - '**/latest/**'

jobs:
  publish-to-elasticsearch:
    if: github.event.pull_request.merged == true
    uses: ./.github/workflows/publish-elasticsearch-reusable.yml
    secrets: inherit
